@import "tailwindcss";
body {
    width: fit-content;
    font-size: 1em;
}
h3 {
    font-size: 1.2em;
}
h2  {
    font-size: 1.5em;
}

.taskItem {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    background-color: #cccccc;
    margin: 10px 0;
}

